<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Me</h2>
                <h3 class="section-subheading text-muted">Project manager, linguist and full stack web developer</h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    <p>I'm a junior developer with a keen eye for design. I'm currently looking for a role where I can support and learn from an agile development team.</p>
                    <p>I've just graduated from the General Assembly web development immersive course: 12 weeks of coding all day, every day.</p>
                    <p>With nine years of agency experience as a financial communications professional, I recognise the importance of delivering projects on time and on budget and, by necessity, have a sharp eye for detail. I have a strong design focus, and believe that good design is crucial to the usability, accessibility and ultimate success of any application.</p>
                    <p>I’m a regular attendee at industry meet ups and events including Codebar and LRUG and, when I’m not acquiring Code School badges, I like to read bad magazines and good books.</p>
                    <p>Collecting languages is another pastime and I speak fluent Spanish, passable Mandarin and conversational French.</p>
                </div>
            </div>
        </div>     
    </div>
</section>